*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
}
.home-page{
    background-image: url(../Assets/backgrounds/h_img.jpg);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}
.home-text{
    margin-top: 80px;
}
