*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0px;
    overflow-x: hidden;
}
.home-page{
    background-image: url(../Assets/backgrounds/h_img.jpg);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: white;
}
.home-text{
    margin-top: 80px;
}
.services{
    background-image: url(../Assets/backgrounds/s_image.jpg);
    color: white;
    height: 50vh;
    background-position: center;
    background-size: cover;
}
.what-we-do{
    display: flex;
    justify-content: space-evenly;
}
.portfolio-img{
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}