*{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0px;
    overflow-x: hidden;
}
.home-logo{
    margin-top: 300px;
}
.home-page{
    background-image: url(../Assets/backgrounds/h_img.jpg);
    height: 100vh;
    width: 100vw;
    position: relative;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    color: white;
}
.home-text{
    margin-top: 60px;
}
.mouse-click{
    margin-top: 150px;
}
.about {
    margin-top: 50px;
    margin-bottom: 50px;
}
.services{
    background-image: url(../Assets/backgrounds/s_image.jpg);
    color: white;
    height: 50vh;
    background-position: center;
    background-size: cover;
}
.services-head{
    margin-top: 100px;
}
.what-head{
    margin-top: 30px;
    margin-bottom: 20px;
}
.what-we-do{
    display: flex;
    justify-content: space-evenly;
}
.design {
    max-width: 30vw;
    min-width: 20vw;
}
.design p{
    display: none;
}
.development {
    max-width: 30vw;
    min-width: 20vw;
}
.development p{
    display: none;
}
.management {
    max-width: 30vw;
    min-width: 20vw;
}
.management p{
    display: none;
}
.portfolio-img{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
}
.grey{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.ontario{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.orange{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.jim{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.health{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.mac{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.burned{
    position: absolute;
    margin-top: 100px;
    margin-left: 80px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.giraffe{
    position: absolute;
    margin-bottom: 100px;
    margin-left: px;
    z-index: 10;
    color: white;
    background-color: rgb(0, 0, 0,.2);
    padding: 70px;
    display: none;
}
.form{
    background-image: url(../Assets/backgrounds/c_image.jpg);
    background-size: cover;
    background-position:center;
    position: relative;
    height: 50vh;
    color: white;
}
.form-head {
    margin-top: 45px;
}
.form_names{
    display: flex;
    justify-content: space-evenly;
}
.form-field-1{
    width: 25vw;
    text-align: left;
    margin-left: 350px;
    background: transparent;
    border: solid white 1px;
}
.form-field-2{
    width: 25vw;
    text-align: left;
    margin-right: 300px;
    background: transparent;
    border: solid white 1px;
}
.form_message{
    width: 50vw;
    height: 30vh;
    background: transparent;
    color:white;
    font-weight: 700;
    border: solid white 1px;
    margin-top: 20px;
}
.socials{
    margin-top: 50px;
}
.delani-footer{
    margin-top: 50px;
}
.portfolio {
margin-bottom: 20px;
}